@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-size: 16px;
    font-family: "Roboto";
}

.banner {
    background-image: url('../images/sky2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
}




nav ul {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 0.25rem;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}


.services-container {
    display: flex;
    justify-content: center;
}

.service {
    border: 1px solid black;
    border-radius: 2%;
    text-align: center;
    width: 25%;
    height: 15rem;
    margin: 1rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #cedadf;
}

.service:hover {
    background-color: #e3e9e9;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

.team-container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-member {
    border: 1px solid black;
    margin: 1rem 1rem;
}

#about-us .description {
    margin: 2rem 10rem;
}

#blog h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blogpost-container {
    display: flex;
    justify-content: space-around;
}

.blog1 {
    border: 1px solid black;
    height: 35rem;
    width: 20rem;
}

.blog1:hover {
    text-decoration: underline;
    text-decoration-color: blue;
}

.blog1 h2 {
    margin-top: 0.7rem;
    margin-bottom: 0;
}

.blog1 img {
    width: 20rem;
    height: 15rem;
}

#blog p {
    font-size: 1.2rem;
    margin-top: 0.7rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#contact {
    margin-bottom: 3rem;
}

#contact h1{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#contact h2 {
    margin-bottom: 5rem;
}

.contact-methods {
    display: flex;
    justify-content: space-around;
}

.contact1 img{
    height: 12rem;
    width: 12rem;
}

.contact1 {
    text-align: center;
}

.footer {
    background-color: #cedadf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-left: 2rem;
}

.privacy {
    margin-right: 2rem;
}

.icons a {
    color: black;
}

.icons {
    text-align: center;
}